In [80]:
import pandas as pd
import uuid

In [81]:
# read datasets for US, Canada, Japan, India, and Brazil
df_br = pd.read_csv('datasets\BR_youtube_trending_data.csv')
df_ca = pd.read_csv('datasets\CA_youtube_trending_data.csv')
df_in = pd.read_csv('datasets\IN_youtube_trending_data.csv')
df_jp = pd.read_csv('datasets\JP_youtube_trending_data.csv')
df_us = pd.read_csv('datasets\\US_youtube_trending_data.csv')

In [82]:
# add country code and information
df_br['countryName'] = 'brazil'
df_br['countryCode'] = 1

df_ca['countryName'] = 'canada'
df_ca['countryCode'] = 2

df_in['countryName'] = 'india'
df_in['countryCode'] = 3

df_jp['countryName'] = 'japan'
df_jp['countryCode'] = 4

df_us['countryName'] = 'us'
df_us['countryCode'] = 5

In [83]:
df_br = df_br.tail(4000)
df_ca = df_ca.tail(4000)
df_in = df_in.tail(4000)
df_jp = df_jp.tail(4000)
df_us = df_us.tail(4000)

In [84]:
df_merged = pd.concat([df_br, df_ca, df_in, df_jp, df_us],ignore_index=True)

In [85]:
df_merged.head(5)

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,countryName,countryCode
0,N5Rjv2ir5t4,SANTOS 4 X 1 VASCO | BASTIDORES | BRASILEIRÃO ...,2023-10-02T23:00:14Z,UC0uRT_armQXqds_rjTjqJ0g,Santos Futebol Clube,17,2023-10-03T00:00:00Z,Santos|Santos Futebol Clube|Santos FC|Santos T...,105095,17907,0,1227,https://i.ytimg.com/vi/N5Rjv2ir5t4/default.jpg,False,False,Inscreva-se na #SantosTV e fique por dentro de...,brazil,1
1,IupL1nL00bU,BURRÃO E O FILHO | EMBRULHA PRA VIAGEM,2023-10-02T15:00:22Z,UCnMrFH0xuvWQSHCscGFV9Gw,Embrulha Pra Viagem,23,2023-10-03T00:00:00Z,embrulha pra viagem|embrulha|humor|mauricio ba...,273700,34384,0,1219,https://i.ytimg.com/vi/IupL1nL00bU/default.jpg,False,False,Se educação e respeito vem de berço. Burrão no...,brazil,1
2,5W9WZm-ntxg,Fanboy de Android revisa o iPhone 15 Pro Max,2023-10-02T22:00:10Z,UCuxfOdbKQy0tgGXcm9sjHiw,Coisa de Nerd,28,2023-10-03T00:00:00Z,leon|coisadenerd|coisa de nerd|português|brasi...,213447,31110,0,444,https://i.ytimg.com/vi/5W9WZm-ntxg/default.jpg,False,False,"Este é o meu review do iPhone 15 Pro Max, vou ...",brazil,1
3,huiu0imUxXE,"Presidente Lula faz fisioterapia, após alta de...",2023-10-02T22:21:42Z,UCNl_i-ggJbZNyOLlhE7yyhw,Jornal da Gazeta,25,2023-10-03T00:00:00Z,jornalismo|política|brasil|economia brasileira...,35663,1092,0,653,https://i.ytimg.com/vi/huiu0imUxXE/default.jpg,False,False,O Presidente Lula fez hoje sessão de fisiotera...,brazil,1
4,z5I_IFLWprY,Esmola no Cartão de Crédito | Câmeras Escondid...,2023-10-02T02:45:10Z,UC3d7Ix6GrtxESULE5Auj_Zg,Câmeras Escondidas Programa Silvio Santos,24,2023-10-03T00:00:00Z,programa silvio santos|silvio santos|câmera es...,588664,9596,0,328,https://i.ytimg.com/vi/z5I_IFLWprY/default.jpg,False,False,"*Ivo Holanda e Ítalo Sena, rei e príncipe das ...",brazil,1

In [86]:
# channel table
df_channel = df_merged[['channelId', 'channelTitle']]
df_channel['channelTitle'] = df_channel['channelTitle'].str.lower()
df_channel = df_channel.drop_duplicates(subset=['channelId'])
df_channel

C:\Users\gxi87\AppData\Local\Temp/ipykernel_4992/1896643284.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_channel['channelTitle'] = df_channel['channelTitle'].str.lower()

                      channelId                               channelTitle
0      UC0uRT_armQXqds_rjTjqJ0g                       santos futebol clube
1      UCnMrFH0xuvWQSHCscGFV9Gw                        embrulha pra viagem
2      UCuxfOdbKQy0tgGXcm9sjHiw                              coisa de nerd
3      UCNl_i-ggJbZNyOLlhE7yyhw                           jornal da gazeta
4      UC3d7Ix6GrtxESULE5Auj_Zg  câmeras escondidas programa silvio santos
...                         ...                                        ...
19807  UCFLI6KAjrKRtydD7KqiYvAw                              fuerza regida
19809  UCTvgnaLSfM5nqrabqrRJXMg                                 lve family
19814  UCbochVIwBCzJb9I2lLGXGjQ                               rhett & link
19822  UCwNqHDsnBCKT-olwJwIFyfg                                 fox sports
19876  UCcYrdFJF7hmPXRNaWdrko4w                                chris brown

[2137 rows x 2 columns]

In [87]:
# category table
df_category = df_merged[['video_id', 'categoryId', 'tags']]
# category_key = [str(uuid.uuid4()) for i in range(df_category.shape[0])]
# df_category['category_key'] = category_key
# df_category = df_category[['category_key', 'video_id', 'categoryId', 'tags']]
df_category = df_category.drop_duplicates(subset=['video_id'])
df_category['tags'] = df_category['tags'].str.lower()
df_category

,video_id,categoryId,tags
0,N5Rjv2ir5t4,17,santos|santos futebol clube|santos fc|santos t...
1,IupL1nL00bU,23,embrulha pra viagem|embrulha|humor|mauricio ba...
2,5W9WZm-ntxg,28,leon|coisadenerd|coisa de nerd|português|brasi...
3,huiu0imUxXE,25,jornalismo|política|brasil|economia brasileira...
4,z5I_IFLWprY,24,programa silvio santos|silvio santos|câmera es...
...,...,...,...
19820,F-qpRkwjq7A,24,weather|weather forecasting|forecasting|foreca...
19822,M-WsGhmV1eU,17,mlb|alcs|astros|rangers|postgame|reaction|fox ...
19832,WutaKDGEV8Q,23,try guys|keith|ned|zach|eugene|habersberger|fu...
19867,oCwredAacSA,10,fuerza regida|juanpa salazar|calle 24|pa las b...
19876,E0oCQKpF3mc,10,summer too hot|under the influence|breezy|no g...

In [88]:
# video table
df_video = df_merged[['video_id', 'channelId', 'publishedAt', 'title', 'thumbnail_link', 'description', 'countryName']]
df_video['publishedAt'] = df_video['publishedAt'].str[:13]
df_video = df_video.drop_duplicates(subset=['video_id'])
df_video

C:\Users\gxi87\AppData\Local\Temp/ipykernel_4992/3973303402.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_video['publishedAt'] = df_video['publishedAt'].str[:13]

,video_id,channelId,publishedAt,title,thumbnail_link,description,countryName
0,N5Rjv2ir5t4,UC0uRT_armQXqds_rjTjqJ0g,2023-10-02T23,SANTOS 4 X 1 VASCO | BASTIDORES | BRASILEIRÃO ...,https://i.ytimg.com/vi/N5Rjv2ir5t4/default.jpg,Inscreva-se na #SantosTV e fique por dentro de...,brazil
1,IupL1nL00bU,UCnMrFH0xuvWQSHCscGFV9Gw,2023-10-02T15,BURRÃO E O FILHO | EMBRULHA PRA VIAGEM,https://i.ytimg.com/vi/IupL1nL00bU/default.jpg,Se educação e respeito vem de berço. Burrão no...,brazil
2,5W9WZm-ntxg,UCuxfOdbKQy0tgGXcm9sjHiw,2023-10-02T22,Fanboy de Android revisa o iPhone 15 Pro Max,https://i.ytimg.com/vi/5W9WZm-ntxg/default.jpg,"Este é o meu review do iPhone 15 Pro Max, vou ...",brazil
3,huiu0imUxXE,UCNl_i-ggJbZNyOLlhE7yyhw,2023-10-02T22,"Presidente Lula faz fisioterapia, após alta de...",https://i.ytimg.com/vi/huiu0imUxXE/default.jpg,O Presidente Lula fez hoje sessão de fisiotera...,brazil
4,z5I_IFLWprY,UC3d7Ix6GrtxESULE5Auj_Zg,2023-10-02T02,Esmola no Cartão de Crédito | Câmeras Escondid...,https://i.ytimg.com/vi/z5I_IFLWprY/default.jpg,"*Ivo Holanda e Ítalo Sena, rei e príncipe das ...",brazil
...,...,...,...,...,...,...,...
19820,F-qpRkwjq7A,UCJHAT3Uvv-g3I8H3GhHWV7w,2023-10-20T20,A Very Strange Weather Pattern Is Developing…,https://i.ytimg.com/vi/F-qpRkwjq7A/default.jpg,Download Radar Omega! Android: http://bit.ly/3...,us
19822,M-WsGhmV1eU,UCwNqHDsnBCKT-olwJwIFyfg,2023-10-21T01,ALCS Game 5 Reaction: Astros defeat Rangers — ...,https://i.ytimg.com/vi/M-WsGhmV1eU/default.jpg,"Derek Jeter, David Ortiz & Alex Rodriguez reac...",us
19832,WutaKDGEV8Q,UCpi8TJfiA4lKGkaXs__YdBA,2023-10-21T15,Keith Eats Everything At Cheesecake Factory - ...,https://i.ytimg.com/vi/WutaKDGEV8Q/default.jpg,"The Eat The Menu you’ve been asking for, waiti...",us
19867,oCwredAacSA,UC0kxNxFQCK6d2spPz5Sme7Q,2023-10-20T04,CJNG,https://i.ytimg.com/vi/oCwredAacSA/default.jpg,Provided to YouTube by Rancho Humilde/Street M...,us
19876,E0oCQKpF3mc,UCcYrdFJF7hmPXRNaWdrko4w,2023-10-20T04,Chris Brown - Sensational feat. Davido & Lojay...,https://i.ytimg.com/vi/E0oCQKpF3mc/default.jpg,Chris Brown - Sensational Out Now!Listen Now: ...,us

In [89]:
# table for stats at published date

df_video_stats = df_merged[['trending_date',  'video_id', 'view_count', 'likes', 'dislikes', 'comment_count', 'comments_disabled', 'ratings_disabled']]
#df_video_stats['times_trending'] = df_video_stats.groupby('video_id')['video_id'].transform('count')
df_video_stats = df_video_stats.drop_duplicates(subset=['trending_date', 'video_id'])
df_video_stats['comments_disabled'] = df_video_stats['comments_disabled'].astype(int)
df_video_stats['ratings_disabled'] = df_video_stats['ratings_disabled'].astype(int)
df_video_stats

,trending_date,video_id,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled
0,2023-10-03T00:00:00Z,N5Rjv2ir5t4,105095,17907,0,1227,0,0
1,2023-10-03T00:00:00Z,IupL1nL00bU,273700,34384,0,1219,0,0
2,2023-10-03T00:00:00Z,5W9WZm-ntxg,213447,31110,0,444,0,0
3,2023-10-03T00:00:00Z,huiu0imUxXE,35663,1092,0,653,0,0
4,2023-10-03T00:00:00Z,z5I_IFLWprY,588664,9596,0,328,0,0
...,...,...,...,...,...,...,...,...
19986,2023-10-22T00:00:00Z,IUgHMGb74ZM,2793819,36238,0,1350,0,0
19987,2023-10-22T00:00:00Z,B0scTkMTQ9I,2041158,20002,0,1689,0,0
19995,2023-10-22T00:00:00Z,ILFfj2zYwHY,2498083,190848,0,16485,0,0
19996,2023-10-22T00:00:00Z,ub1NyK_-C0c,190367,3499,0,475,0,0
19998,2023-10-22T00:00:00Z,d403nALfQrE,1146264,13667,0,9968,0,0

In [90]:
df_country = df_merged[['countryName', 'countryCode']].drop_duplicates()
df_country

      countryName  countryCode
0          brazil            1
4000       canada            2
8000        india            3
12000       japan            4
16000          us            5

In [91]:
import numpy as np
c = df_category.to_numpy()
for i in c:
    print(tuple(i))
    break

('N5Rjv2ir5t4', 17, 'santos|santos futebol clube|santos fc|santos tv|notícias do santos|jogos do santos|tv santos|santos canal oficial|santos ao vivo|julio furch|marcos leonardo|brasileirão 2023|joão basso|presuntinho|marcelo fernandes|soteldo|bola|veggetti|payet|lucas lima|marcos leonardo|vasco|vila')

In [92]:
# drop tables
drop = '''
DROP TABLE IF EXISTS `manages`;
DROP TABLE IF EXISTS `user`; 
DROP TABLE IF EXISTS `country`;
DROP TABLE IF EXISTS `video_stats`;
DROP TABLE IF EXISTS `category`;
DROP TABLE IF EXISTS `video`;
DROP TABLE IF EXISTS `channel`;
'''

In [93]:
# table for country
country = '''
/* Table structure for table country */
CREATE TABLE `country` (
    `country_code` INT(11) PRIMARY KEY NOT NULL,
    `country` VARCHAR(20) NOT NULL
);

'''

country_inserts = '''
/* Data for `country` */
INSERT INTO `country`(`country_code`, `country`)
VALUES
(0, 'Brazil'),
(1, 'Canada'),
(2, 'India'),
(3, 'Japan'),
(4, 'United States');
'''

In [94]:
# create table for users
user = '''
/* Table structure for table 'user' */
CREATE TABLE `user` (
    `user_id` INT(11) PRIMARY KEY NOT NULL,
    `country_code` INT(11) NOT NULL,
    `username` VARCHAR(50) NOT NULL,
    `password` VARCHAR(50) NOT NULL,
    `email_id` VARCHAR(50) NOT NULL,
    FOREIGN KEY(`country_code`) REFERENCES `country`(`country_code`) ON UPDATE CASCADE ON DELETE CASCADE
);
'''

In [95]:
# create table for channel
channel = '''
/* Table structure for 'channel' */
CREATE TABLE `channel` (
    `channel_id` VARCHAR(50) PRIMARY KEY NOT NULL,
    `channel_title` VARCHAR(255) NOT NULL
);
'''
channel_inserts = '''
/*Data for 'channel'*/
INSERT INTO `channel`(`channel_id`, `channel_title`)
VALUES
'''
count = 0
for i, row in df_channel.iterrows():
    channel_title = row["channelTitle"].replace("'", "''")
    if count == df_channel.shape[0] - 1:
        channel_inserts+=(f'(\'{row["channelId"]}\', \'{channel_title}\');')
        break
    channel_inserts+=(f'(\'{row["channelId"]}\', \'{channel_title}\'),\n')
    count+=1

In [96]:
# create table for video
video = ''' 

/* Table structure for 'video' */
CREATE TABLE `video` (
    `video_id` VARCHAR(50) PRIMARY KEY NOT NULL,
    `channel_id` VARCHAR(50) NOT NULL,
    `publishedAt` VARCHAR(50) NOT NULL,
    `title` TEXT NOT NULL,
    `thumbnail_link` VARCHAR(255) NOT NULL,
    `description` TEXT,
    `country` VARCHAR(50) NOT NULL,
    FOREIGN KEY(`channel_id`) REFERENCES `channel`(`channel_id`) ON UPDATE CASCADE ON DELETE CASCADE
);
'''

video_inserts = '''
/*Data for 'video'*/
INSERT INTO `video`(`video_id`,`channel_id`,`publishedAt`,`title`,`thumbnail_link`,`description`, `country`)
VALUES
'''
count = 0
df_video['description'] = df_video['description'].astype(str)
for i, row in df_video.iterrows():
    video_id = row['video_id']
    channelId = row['channelId']
    publishedAt = row['publishedAt']
    title = row["title"].replace("'", "''")
    thumbnail = row['thumbnail_link']
    description = row['description'].replace("'", "''")
    countryName = row['countryName']
    # if count == df_video.shape[0] - 1:
    if count == df_video.shape[0]-1:
        video_inserts+=(f'(\'{video_id}\', \'{channelId}\', \'{publishedAt}\', \'{title}\', \'{thumbnail}\', \'{description}\', \'{countryName}\');')
        break
    count+=1
    video_inserts+=(f'(\'{video_id}\', \'{channelId}\', \'{publishedAt}\', \'{title}\', \'{thumbnail}\', \'{description}\', \'{countryName}\'), \n')
#     if count == 2000:
#         break
# video_inserts = video_inserts[0:len(video_inserts)-1] + ';'

In [97]:
# create table for video stats
video_stats = ''' 

/* Table structure for 'video_stats' */
CREATE TABLE `video_stats` (
    `trending_date` VARCHAR(50) NOT NULL,
    `video_id` VARCHAR(50) NOT NULL,
    `view_count` INT(11), 
    `likes` INT(11),
    `dislikes` INT(11),
    `comment_count` INT(11),
    `comments_disabled` INT(11),
    `ratings_disabled` INT(11),
    PRIMARY KEY (`trending_date`, `video_id`),
    FOREIGN KEY (`video_id`) REFERENCES `video` (`video_id`) ON UPDATE CASCADE ON DELETE CASCADE
);
'''

video_stats_inserts = '''
/*Data for 'video_stats'*/
INSERT INTO `video_stats`(`trending_date`, `video_id`, `view_count`, `likes`, `dislikes`, `comment_count`, `comments_disabled`, `ratings_disabled`)
VALUES
'''
count = 0
for i, row in df_video_stats.iterrows():
    trending_date = row['trending_date']
    video_id = row['video_id']
    view_count = row['view_count']
    likes = row["likes"]
    dislikes = row['dislikes']
    comment_count = row['comment_count']
    comments_disabled = row['comments_disabled']
    ratings_disabled = row['ratings_disabled']
    # times_trending = row['times_trending']

    if count == df_video_stats.shape[0] - 1:
        video_stats_inserts+=(f'(\'{trending_date}\', \'{video_id}\', \'{view_count}\', \'{likes}\', \'{dislikes}\', \'{comment_count}\', \'{comments_disabled}\', \'{ratings_disabled}\');')
        continue
    count+=1
    video_stats_inserts+=(f'(\'{trending_date}\', \'{video_id}\', \'{view_count}\', \'{likes}\', \'{dislikes}\', \'{comment_count}\', \'{comments_disabled}\', \'{ratings_disabled}\'), \n')
print(count)

16504

In [98]:
# create table for category
category = ''' 

/* Table structure for 'category' */
CREATE TABLE `category` (
    `categoryId` INT(11) NOT NULL,
    `video_id` VARCHAR(50) NOT NULL,
    `tags` TEXT,
    PRIMARY KEY (`categoryId`, `video_id`),
    FOREIGN KEY (`video_id`) REFERENCES `video` (`video_id`) ON UPDATE CASCADE ON DELETE CASCADE
);
'''

category_inserts = '''
/*Data for 'category'*/
INSERT INTO `category`(`categoryId`, `video_id`, `tags`)
VALUES
'''
count = 0
for i, row in df_category.iterrows():
    categoryId = row['categoryId']
    video_id = row['video_id']
    tags = row['tags'].replace("'", "''")

    if count == df_category.shape[0] - 1:
        category_inserts+=(f'(\'{categoryId}\', \'{video_id}\', \'{tags}\');')
        continue
    count+=1
    category_inserts+=(f'(\'{categoryId}\', \'{video_id}\', \'{tags}\'), \n')

In [99]:
# table for relationship manages
manages  = ''' 
/* Table for the relationship manages between user and channel */
CREATE TABLE `manages` (
    `user_id` INT(11) NOT NULL,
    `channel_id` VARCHAR(50) NOT NULL,
    PRIMARY KEY (`user_id`, `channel_id`),
    FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (`channel_id`) REFERENCES `channel` (`channel_id`) ON UPDATE CASCADE ON DELETE CASCADE
);
'''

In [100]:
file_name = 'nddp.sql'

with open(file_name, 'w') as file:
    file.write('USE `youtube_trending_data`;')
    file.write(drop)
    file.write(country)
    file.write(user)
    file.write(channel)
    file.write(manages)
    file.write(video)
    file.write(video_stats)
    file.write(category)
    
    file.write(country_inserts)
    file.write(channel_inserts)
    file.write(video_inserts)

In [101]:
file_name = 'nddp2.sql'
with open(file_name, 'w') as file:
    file.write('USE `youtube_trending_data`;')
    file.write(video_stats_inserts)
    file.write(category_inserts)